*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
:root{
    --red-color: #dc2751;
    --dark-color : #b1b1b;
}


/* reuseable styles */

/* all buttons */

/* button 1 */
.btn-1 {
    display: inline-block;
    height: auto;
    padding: 20px 50px;
    border-radius: 80px;
    color: #fff;
    background-color: var(--red-color);
    transition: border-color 400ms ease, color 400ms ease, background-color 400ms ease;
    border: 2px solid var(--red-color);
    text-align: center;
    margin-right: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}
.btn-1:hover {
  border: 2px solid #fff;
  background-color: #fff;
  color: var(--dark-color);
}
.btn-1 i {
    color: #fff;
    font-size: 20px;
    margin-right: 5px;
}
.btn-1:hover i {
    color: var(--dark-color);
}


/* button 3 */
.btn-3 {
    display: inline-block;
    height: auto;
    padding: 20px 50px;
    border: 1px solid var(--red-color);
    border-radius: 80px;
    background-color: var(--red-color);
    -webkit-transition: border-color 400ms ease, color 400ms ease, background-color 400ms ease;
    transition: border-color 400ms ease, color 400ms ease, background-color 400ms ease;
    color: #fff;
    line-height: 20px;
    text-align: center;
    margin-right: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}
.btn-3 i {
    color: #fff;
    font-size: 20px;
    margin-right: 5px;
}
.btn-3:hover {
  border: 1px solid #1b1b1b;
  background-color: #1b1b1b;
  color: #fff;
}

/* section header */
.bg-gray {
    background: #f0f0f3;
}
.section-header {
    padding: 130px 0;
}
.section-header h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 15px;
    color: var(--dark-color);
}
.section-header h1.cd {
    color: var(--dark-color);
}
.section-header h1.cw {
    color: #fff;
}
.section-header h2 {
    font-size: 48px;
    line-height: 1.2em;
    font-weight: 900;
    margin-bottom: 5px;
    color: var(--dark-color);
    font-family: 'Poppins', sans-serif;
}
.section-header h5 {
    font-size: 24px;
    line-height: 1.5em;
    font-weight: 900;
    margin-bottom: 15px;
    color: #fff;
}

.section-header h6 {
    display: inline-block;
    font-family: 'Architects Daughter', cursive;
    font-size: 18px;
    font-weight: 400;
    color: var(--red-color);
    margin-bottom: 5px;
}


/* lines */

.line-vr-section {
    position: relative;
    margin: -25px auto;
    border: 0;
    border-left: 3px solid;
    border-color: var(--red-color);
    width: 3px;
    height: 50px;
    z-index: 10;
    opacity: 1;
}

.line-hr-section {
    width: 70px;
    border-top: 3px solid var(--red-color) !important;
    opacity: 1;
    margin: 15px 0;
}

.line-hr-section.center{
    margin: 15px auto;
}

/* navbar */

.navbar {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 444;
    width: 100%;
    background: transparent;
    height: 100px;
}
.navbar .container {
    border: none;
}
.nav-scroll .container {
    border: none;
}
.navbar-toggler-icon {
    background-image: none;
}
.navbar .navbar-toggler-icon,
.navbar .icon-bar {
    color: #fff;
    font-size: 24px;
    width: 1.5em;
    height: 1em;
}
.navbar .navbar-nav .nav-link {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 900;
    color: #fff;
    margin: 1px;
    -webkit-transition: all .4s;
    transition: all .4s;
    padding-right: 10px;
    padding-left: 10px;
}
.navbar .navbar-nav .nav-link.nav-color {
    color: var(--dark-color);
}
.navbar .navbar-nav .nav-link:hover {
    color: var(--red-color);
}
.navbar .navbar-nav .nav-link:hover i {
    color: var(--red-color);
}
.navbar .navbar-nav .active {
    color: var(--red-color) !important;
}
.navbar .navbar-nav .active i {
    color: var(--red-color);
}
.nav-scroll {
    background: #fff;
    position: fixed;
    top: -100px;
    left: 0;
    width: 100%;
    transition-duration: 0.5s;
    transform: translateY(100px);
    box-shadow: 0px 5px 15px rgb(15 36 84 / 5%);
}
.nav-scroll .navbar-toggler-icon,
.nav-scroll .icon-bar {
    color: var(--dark-color);
}
.nav-scroll .navbar-nav .nav-link {
    color: var(--dark-color);
}
.nav-scroll .navbar-nav .active {
    color: var(--red-color);
}
.nav-scroll .navbar-nav .logo {
    padding: 15px 0;
    color: #fff;
}
.nav-scroll .logo-img {
    width: 150px;
}
.nav-scroll .logo-img {
    margin-bottom: 0px;
}

.logo-container {
    float: left;
}
.logo {
    padding: 0;
}
.logo-img {
    width: 150px;
    text-align: center;
}
.dropdown .nav-link i {
    padding-left: 1px;
    font-size: 14px;
    color: var(--red-color);
}
.nav-scroll .dropdown .nav-link i {
    color: var(--red-color);
}
.nav-scroll .navbar-nav .active i {
    color: var(--red-color);
}
.navbar .dropdown-menu .dropdown-item {
    padding: 7px 0;
    font-size: 16px;
    color: var(--dark-color);
    position: relative;
    background-color: transparent;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
.navbar .dropdown-menu .dropdown-item span {
    display: block;
    cursor: pointer;
}
.navbar .dropdown-menu .dropdown-item i {
    padding: 10px 0 0 5px;
    font-size: 14px;
    float: right;
    color: var(--red-color);
}
.navbar .dropdown-menu .dropdown:hover > .dropdown-item,
.navbar .dropdown-menu .dropdown-item.active,
.navbar .dropdown-menu .dropdown-item:hover {
    color: var(--red-color);
}
.navbar .dropdown-menu .dropdown-item.active span i {
    color: var(--red-color);
}
.navbar .dropdown-toggle::after {
    display: none;
}
.navbar .dropdown-menu {
    box-shadow: 0 16px 50px rgb(27 27 27 / 7%);
}
.navbar .dropdown-menu li {
    border-bottom: none;
}
.navbar .dropdown-menu li:last-child {
    border-bottom: none;
}
 li hover
.navbar .dropdown-menu li {
  position: relative;
  display: block;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
.navbar .dropdown-menu li:hover {
  padding-left: 5px;
}
.navbar .dropdown-menu .dropdown-menu.pull-left {
    top: 0;
    left: auto;
    right: 100%;
}
 /* contact-nav  */
.navbar .contact-nav {
    display: flex;
    align-items: center;
}
.navbar .contact-nav .wrap {
    display: flex;
    align-items: center;
    z-index: 5;
    margin-left: 30px;
}
.navbar .contact-nav .wrap .icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: var(--red-color);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}
.navbar .contact-nav .wrap .text {
    margin-left: 5px;
    top: 3px;
    position: relative;
}
.navbar .contact-nav .wrap .text p {
    font-family: 'Architects Daughter', cursive;
    font-size: 14px;
    line-height: 12px;
    color: var(--red-color);
    margin-bottom: 4px;
    font-weight: 400;
}
.navbar .contact-nav .wrap .text h5 {
    font-size: 18px;
    font-weight: 900;
    line-height: 25px;
    color: #fff;
    margin-bottom: 5px;
}
.navbar .contact-nav .wrap .text h5 a {
    color: #fff;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}
.navbar .contact-nav .wrap .text h5 a:hover {
    color: #fff;
}
.nav-scroll .contact-nav .wrap .text p {
    color: var(--red-color);
}
.nav-scroll .contact-nav .wrap .text h5,
.nav-scroll .contact-nav .wrap .text h5 a {
    color: var(--dark-color);
}
 /* Navbar Media Query  */
@media screen and (min-width: 992px) {
    .navbar .dropdown-menu{
        display: block;
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
        min-width: 240px;
        padding: 20px;
        border: 0;
        background-color: #fff;
        -webkit-transition: all .3s;
        transition: all .3s;
        border-radius: 10px;
        box-shadow: 0 16px 50px rgb(0 0 0 / 7%);
    }
    .navbar .dropdown-menu .dropdown-menu {
        left: calc(100% + 5px);
        top: -17px;
        right: auto;
        min-width: 240px;
        transform: translateY(0);
    }
    .navbar .dropdown:hover > .dropdown-menu {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}

@media screen and (max-width: 991px) {
    .navbar {
        padding-left: 0px;
        padding-right: 0px;
        background: transparent;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .nav-scroll {
        background: #fff;
    }
    .logo-container {
        float: left;
        padding: 34.15px 15px;
    }
    .nav-scroll .logo-container {
        padding: 34.15px 15px;
        background-color: transparent;
    }
    .nav-scroll .logo-img {
        width: 150px;
    }
    .navbar .logo {
        text-align: left;
        margin-left: 0px;
    }
    .nav-scroll .logo {}
    .logo-img {
        margin-bottom: 0px;
        width: 150px;
        padding: 0;
    }
    .navbar button {
        margin-right: 0px;
        outline: none !important;
        background: transparent;
        margin-top: 0px;
        border: none;
    }
    .navbar button:hover {
        background: transparent;
    }
    .navbar button:active,
    .navbar button:focus,
    .navbar button:hover {
        background: transparent;
        outline: none;
        color: transparent !important;
    }
    .navbar .container {
        max-width: 100%;
        padding: 0;
    }
    .navbar .nav-link {
        margin: 0px auto !important;
    }
    .navbar .navbar-nav .nav-link {
        color: var(--dark-color);
    }
    .nav-scroll .navbar-collapse .nav-link {
        color: var(--dark-color) !important;
    }
    .nav-scroll .navbar-collapse .active {
        color: var(--red-color) !important;
    }
    .navbar .dropdown-menu .dropdown-item {
        color: var(--dark-color);
        padding: 0 15px;
        font-size: 16px;
        line-height: 40px;
    }
    .navbar .dropdown-menu .dropdown-item.dropdown-toggle {
        font-weight: 400;
    }
    .navbar .dropdown-submenu .dropdown-toggle::after {
        right: 15px;
        font-size: 13px;
    }
    .navbar .dropdown-submenu:hover > .dropdown-toggle::after {
        transform: rotate(0deg);
    }
    .navbar .dropdown-submenu .dropdown-toggle.show::after {
        transform: rotate(90deg);
    }
    .navbar .dropdown-menu {
        border: none;
        padding: 0;
        border-radius: 0;
        margin: 0;
        background: #fff;
        box-shadow: none;
    }
    .navbar .dropdown-submenu .dropdown-menu {
        margin: 0;
        padding: 0 0 0 20px;
    }
    .navbar .dropdown-menu li a {
        padding: 0 15px;
    }
    .navbar .navbar-nav .nav-link {
        padding-right: 0px;
        padding-left: 0px;
    }
    .navbar .navbar-nav {
        padding: 20px;
    }
    .navbar .navbar-collapse {
        max-height: 450px;
        overflow: auto;
        background: #fff;
        text-align: left;
    }
    .dropdown .nav-link i {
        color: var(--dark-color);
    }
    .nav-scroll .dropdown .nav-link i {
       color: var(--dark-color);
    }
    .nav-scroll .dropdown .nav-link.active i {
        color: var(--red-color);
    }
    .navbar .dropdown-menu .dropdown-item i {
    color: var(--dark-color);
    }
    .navbar .contact-nav {
        display: none;
    }
}

/* Hero style*/
.hero {
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url("../assets/carousel/slider1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.hero .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #1b1b1b73;
    display: flex;
    align-items: center;
}
.hero h6{
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    color: var(--red-color);
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.hero h1{
    position: relative;
    font-size: 110px;
    line-height: 120px;
    letter-spacing: 3px;
    font-weight: 900;
    color: #fff;
    margin-bottom: 15px;
    animation-delay: .4s;
}
.hero h1 span {
    position: relative;
    font-size: 100px;
    animation-delay: .4s;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    opacity: .8;
}
.hero p {
    font-family: 'Hind', sans-serif;
    font-size: 16px;
    color: #fff;
    margin-bottom: 15px;
}


@media screen and (max-width : 566px) {
    .hero h1{
        font-size: 65px;
        line-height: 75px;
    }
    .hero h1 span{
        font-size: 65px;
    }
}



/* ======= Services style ======= */
.services {
    position: relative;
    padding: 130px 0;
  }
  .mb-25{
    margin-bottom: 25px;
  }
  .mb-30{
    margin-bottom: 30px;
  }
  .services h1{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 15px;
    color: var(--dark-color);
  }
  .services .item {
    background-color: #f0f0f3;
    position: relative;
    border-radius: 10px;
    transition: 0.7s;
      border: none;
  }
  .services .item .wrap {
      transition: 0.7s;
      text-align: center;
      padding: 75px 30px 15px 30px;
      overflow: hidden;
  }
  .services .item .wrap .icon-1 {
      color: var(--red-color);
      transition: 0.7s;
      transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
      margin-bottom: 25px;
  }
  .services .item .wrap .icon-1 i {
    font-size: 60px;
    line-height: 60px;
  }
  .services .item .wrap .con {
    transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  }
  .services .item .wrap .con h4 {
    font-size: 24px;
    color: var(--dark-color);
  }
  .services .item .wrap .con p {
    color: #7b7b7b;
  }
  .services .item .wrap .con .icon-2 a {
    color: #fff;
    font-size: 24px;
    opacity: 0;
    transition: 0.7s;
    transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  }
  .services .item:hover {
    background-color: var(--red-color);
  }
  .services .item:hover .wrap .icon-1 { 
      color: #fff;
      transform: translateY(-25px);
  }
  .services .item:hover .wrap .con {
    color: #fff;
    transform: translateY(-25px);
  }
  .services .item:hover .wrap .con h4 {
    color: #fff;
  }
  .services .item:hover .wrap .con p {
    color: #fff;
  }
  .services .item:hover .wrap .con .icon-2 a {
    color: #fff;
    opacity: 1;
  }
  .services .item .wrap .numb {
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      font-size: 100px;
      position: relative;
      bottom: 0px;
      right: -15px;
      text-align: end;
      color: transparent;
      -webkit-text-stroke: 2px rgba(0,0,0,0.05);
      opacity: .8;
  }
  .services .item:hover .wrap .numb {
     color: transparent;
      -webkit-text-stroke: 2px rgba(255,255,255,0.2);
      opacity: .8;
  }
  .services .item.active {
      background: var(--red-color);
  }
  .services .item.active .wrap .icon-1,
  .services .item.active .wrap .con h4,
  .services .item.active .wrap .con p {
      color: #fff;
  }
  .services .item.active .sub-icon {
      color: rgba(255,255,255,0.05);
  }
  .services .item.active .numb {
          color: transparent;
      -webkit-text-stroke: 2px rgba(255,255,255,0.2);
      opacity: .8;
  }
  
  .services-single h5 {
      font-size: 27px;
      color: var(--dark-color);
  }

  /* ======= Works ======= */
.works {
    overflow: hidden;
}
.works .item {
    margin-bottom: 25px;
}
.works .item .wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
}
.works .item .wrap .img {
  position: relative;
  background-color: #000;
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  border-radius: 10px;
}
.works .item .wrap .img img {
  width: 100%;
  margin: 0;
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  background-size: cover;
  border-radius: 10px;
}
.img-grayscale img {
    filter: grayscale(100%);
   transition: .4s ease-in-out;
}
.img-grayscale:hover img {
    filter: grayscale(0%);
}
.works .item .wrap:hover img {
  opacity: 0.7;
}
.works .item .wrap:hover .img {
  transform: scale(0.95);
}
.works .item .wrap .text {
    position: absolute;
    opacity: 0;
    transform: translateX(-20px);
    transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
    padding: 15px;
  }
.works .item .wrap:hover .text {
  opacity: 1;
  transform: translateX(0px);
}

.works .item .wrap .text h4 {
    font-size: 24px;
    margin-bottom: 5px;
    color: #fff;
}
.works .item .wrap .text p {
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
    color: var(--red-color);
    margin-bottom: 0;
    font-weight: 400;
}
/* icon box button */
.works .item .wrap .text .icon-box {
  position: relative;
  display: block;
}
.works .item .wrap .text a .icon-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    transition: all 200ms linear;
    transition-delay: 0.3s;
    z-index: 1;
    margin: 0 auto;
}
.works .item .wrap .text a .icon-box::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--red-color);
  background: var(--red-color);
  border-radius: 50%;
  transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  z-index: 1;
  content: "";
}
.works .item:hover .wrap .text a .icon-box::before {
  transform: scale(1.0);
  opacity: 1;
}
.works .item .wrap .text a .icon-box i::before {
  position: relative;
  display: inline-block;
  color: #fff;
  font-size: 24px;
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg);
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.works .item:hover .wrap .text a .icon-box i::before {
    transform: rotate(0);
    color: #fff;
    z-index: 9;
}
/* btn-1 */
.works .item:hover .wrap .text .btn-1 i {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
.works .item:hover .wrap .text.btn-1:hover i {
    transform: rotate(0);
}

/* ======= Popup Video style ======= */
.video-popup {
    position: relative;
    overflow: hidden;
    background-image: url('../assets/carousel/slider3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.video-popup .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #1b1b1b73;
}
.video-popup .vid {
    position: relative;
    z-index: 8;
}
.video-popup .vid .vid-butn:hover .icon {
    color: #fff;
    transform: translate3d(0px, -5px, 0.01px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}
.video-popup .vid .vid-butn:hover .icon:before {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
.video-popup .vid .vid-butn .icon {
    color: var(--red-color);
    width: 100px;
    height: 100px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    line-height: 110px;
    text-align: center;
    font-size: 40px;
    position: relative;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    display: inline-block;
}
.video-popup .vid .vid-butn .icon:after {
    content: '';
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 5px;
    left: 5px;
    border-radius: 50%;
    z-index: -1;
}
.video-popup .vid .vid-butn .icon:before {
    content: '';
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 5px;
    left: 5px;
    background-color: rgba(255,255,255,0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 50%;
    z-index: -1;
    -webkit-transition: all 0.5s cubic-bezier(1, 0, 0, 1);
    -o-transition: all 0.5s cubic-bezier(1, 0, 0, 1);
    transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}

/* ======= Team style ======= */
.team {
    position: relative;
}
.team .item {
    position: relative;
    
}
.team .item .img {
    -webkit-transition: all .5s;
    transition: all .5s;
    overflow: hidden;
    border-radius: 10px;
}
.team .item .img:hover img {
    -webkit-filter: none;
    filter: none;
    transform: scale(1.09, 1.09);
    transition: all 1s ease;
}
.team .item .img img {
    -webkit-transition: all .5s;
    transition: all .5s;
}
.team .item .con {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    bottom: 45px;
    z-index: 2;
    background: #f0f0f3;
    padding: 25px 20px;
    opacity: 1;
    visibility: visible;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    overflow: hidden;
    z-index: 1;
    border-radius: 10px;
}
.team .item:hover .con {
    background: var(--red-color);
}
.team .item:hover .con h5 {
  transform: translateX(10px);
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
}
.team .item .con .arrow {
    position: relative;
    display: block;
    top: 0px;
    visibility: hidden;
    opacity: 0;
    transform: rotate(0);
}
.team .item:hover .con .arrow {
    visibility: visible;
    transform: translateY(0%);
    opacity: 1;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
.team .item .con .arrow a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 16px;
    color: var(--red-color);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    border-radius: 100%;
    background: #fff;
}
.team .item .con .arrow a:hover {
    background: #fff;
    color: var(--red-color);
}
.team .item .con h5 {
    font-size: 18px;
    color: #1b1b1b;
    line-height: 1.5em;
}
.team .item .con h5 a {
    color: #1b1b1b;
}
.team .item .con h5 span {
    font-size: 16px;
    color: #727272;
    text-transform: none;
    font-weight: 400;
    font-family: 'Hind', sans-serif;
    letter-spacing: 0;
}
.team .item:hover .con h5,
.team .item:hover .con h5 a,
.team .item:hover .con h5 span {
    color: #fff;
}


/* ++++++ Events  ++++++ */
.events .item {
    padding: 30px 0;
    border-bottom: 2px solid rgba(0,0,0,0.05);
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
  }
  .events .item:first-of-type {
    border-top: 2px solid rgba(0,0,0,0.05);
  }
  .events .item:hover {
    border-bottom-color: var(--red-color);
  }
  .events .item:hover .text a {
    text-decoration: none;
  }
  .events .item:hover .img img {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  .events .item .text h5,
  .events .item .text h5 a {
      font-size: 24px;
      margin-bottom: 0;
      color: #1b1b1b;
  }
  .events .item .text p {
      color: var(--red-color);
      font-size: 16px;
      font-weight: 400;
      font-family: 'Architects Daughter', cursive;
      margin-bottom: 0;
  }
  .events .item .date {
      display: flex;
      align-items: center;
  }
  .events .item .date > span {
      font-family: 'Poppins', sans-serif;
      font-weight: 900;
      line-height: 48px;
      font-size: 85px;
      margin-right: 12px;
      color: transparent;
      -webkit-text-stroke: 1.5px var(--red-color);
      opacity: .8;
  }
  .events .item .date div span {
      display: block;
      color: #1b1b1b;
      font-size: 16px;
      line-height: 16px;
      margin-top: 4px;
  }
  .events .item .date > h4 {
      color: #fff;
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 5px;
  }
  .events .item .date h5 {
      color: #fff;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 400;
      font-family: 'Hind', sans-serif;
      margin-bottom: 0;
  }
  .md-mb30{
    margin-bottom: 20px;
  }
  .events .item .img {
    position: absolute;
    top: 50%;
      right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
  }
  .events .item .img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
    border-radius: 50%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
  }
  .position-re {
      position: relative;
  }
  .ml-auto {
      margin-left: auto;
  }
  @media screen and (max-width: 768px) {
  .events .item .img {
      right: 5px;
      width: 160px;
      height: 160px;
    }
  .events .item .text h5,
  .events .item .text h5 a {
      font-size: 20px;
      margin-bottom: 0px;
  }
  
  }

  /* ++++++ Testimonials style +++++++ */
.testimonials {
    position: relative;
}
.testimonials .item {
    position: relative;
    background: #f0f0f3;
    padding: 45px 30px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.testimonials .item .quote {
    position: relative;
    font-size: 55px;
    color: var(--red-color);
    line-height: 65px;
}
.testimonials .item p {
    color: #727272;
}
.testimonials .item .info {
    text-align: left;
    padding: 15px 0 0 0;
    border: none;
    border-top: 2px solid rgba(0,0,0,0.05);
}
.testimonials .item .info .author-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    float: left;
    overflow: hidden;
    border: 2px solid rgba(0,0,0,0.05);
    padding: 4px;
}
.testimonials .item .info .author-img img {
    border-radius: 100%;
}
.testimonials .item .info .cont {
    margin-left: 80px;
}
.testimonials .item .info .cont h6 {
    display: block;
    font-size: 16px;
    margin-bottom: 0px;
    padding-top: 15px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    color: #1b1b1b;
    line-height: 1.2em;
    text-transform: none;
    letter-spacing: 0px;
}
.testimonials .item .info span {
    font-size: 16px;
    color: #727272;
    line-height: 1.2em;
}




  






  
  




